<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- DO NOT CHANGE THE VERSION WITHOUT VERIFYING THAT THE NEW VERSION WORKS ON LINUX! -->
  <!-- Version 1.5 has dependences that neither Mono 4 nor Mono 5 provide. -->
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net45" />
</packages>
